<nz-row nzGutter="16">
  <nz-col nzSpan="12">
    <button nz-button [routerLink]="['/layout1/danh-muc/xa', {outlets: {right: 'them-xa'}}]">Thêm xã</button>
    <button nz-button [routerLink]="['/layout1/danh-muc/xa/them-xa']">Thêm xã 2</button>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.address }}</td>
        <td>
          <a  (click)="suaData(data)">Sửa 一 {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a  (click)="chiTiet(data)">Chi Tiết</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-col>
  <nz-col nzSpan="12">
    <router-outlet></router-outlet>
    <router-outlet name="right"></router-outlet>
  </nz-col>
</nz-row>
<router-outlet name="bottom"></router-outlet>
