<button nz-button [routerLink]="['/layout1/danh-muc/sua-huyen']"
        [queryParams]="{huyenId: 10}"
>Sửa huyện QuerryParam Param 10
</button>

<button nz-button (click)="suaHuyen()">Sửa huyện QuerryParam 11</button>

<p>huyen works!</p>
